/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav{float:right;
    color:#B1FEED;
    padding-top: 20px;
    padding-left: 1090px;
    position:fixed;
}

div {margin:1px solid transparent;
     padding-left: 270px;
     padding-right: 250px;
  }

.link1 {padding-right: 10px;}
.link:hover {
  color:#D8C904;
}
.link2 {padding-left: 10px;}
.link2:hover {
  color:#D8C904;
}
a{
  font-size: 10px;
  font-family: Montserrat;
  font-style: lighter;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color:#B1FEED;
}

img {width: 40%;
  float:left;  padding-top: 50px;
  padding-right: 50px;
}

body{
	border:solid 1px #1C1B1B;
	border-top:0px;	
	border-bottom:0px;
  background-color:#4A4A4A;
}

#allprojects{padding-left: 20px;
    padding-top:80px;
    padding-bottom:100px;
    }

h1 {
  font-family: Acumin Pro;
  font-size: 220px;
  font-style: bold;
  float:left;
  color:#5A595B;
  opacity:0.2;
  font-kerning:-15px;
  width:130px;
  height:50px;
  padding-left:150px;
  position:fixed;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;}

h2 {font-family: Acumin Pro;
  font-size: 220px;
  font-style: bold;
  float:right;
  color:#5A595B;
  opacity:0.2;
  width:130px;
  height:50px;
  padding-right:2100px;
  position:fixed;
  -moz-transform: rotate(270deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%;}

.project1 {
  position: relative;
   }

.imgDescription1 { 
  position: absolute;
  top:273px;
  left:270px; 
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 92px;
  padding-right: 93px;
  text-align: center;
  font-family: Montserrat;
  font-style: lighter;
  width:auto;
  height:auto;
  background-color: rgba(216, 201, 4, 0.95);
  color: #6F6805;
  font-size: 14px;
  letter-spacing: 1.1px;
  visibility: hidden;
  opacity: 0.75;

  }

.project1:hover .imgDescription1 {
  visibility: visible;
  opacity: 1;
  }

.project2 {
  position: relative; 
   }

.imgDescription2 { 
  position: absolute;
  top:275px;
  left:616px;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 88px;
  padding-right: 88px;
  text-align: center;
  font-family: Montserrat;
  font-style: lighter;
  background-color: rgba(216, 201, 4, 0.95);
  color: #6F6805;
  font-size: 14px;
  letter-spacing: 1.1px;
  visibility: hidden;
  opacity: 0.75;
  }

.project2:hover .imgDescription2 {
  visibility: visible;
  opacity: 1;
  }

.project3 {
  position: relative; 
   }

.imgDescription3 { 
  position: absolute;
  top:625px;
  left:270px;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 98px;
  padding-right: 97px;
  text-align: center;
  font-family: Montserrat;
  font-style: lighter;
  background-color: rgba(216, 201, 4, 0.95);
  color: #6F6805;
  font-size: 14px;
  letter-spacing: 1.1px;
  visibility: hidden;
  opacity: 0.75;
  }

.project3:hover .imgDescription3 {
  visibility: visible;
  opacity: 1;
  }

.project4 {
  position: relative; 
   }

.imgDescription4 { 
  position: absolute;
  top:629px;
  left:615px;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 86px;
  padding-right: 87px;
  text-align: center;
  font-family: Montserrat;
  font-style: lighter;
  background-color: rgba(216, 201, 4, 0.95);
  color: #6F6805;
  font-size: 14px;
  letter-spacing: 1.1px;
  visibility: hidden;
  opacity: 0.75;
  }

.project4:hover .imgDescription4 {
  visibility: visible;
  opacity: 1;
  }

.project5 {
  position: relative; 
   }

.imgDescription5 { 
  position: absolute;
  top:988px;
  left:270px;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 86px;
  padding-right: 85px;
  text-align: center;
  font-family: Montserrat;
  font-style: lighter;
  background-color: rgba(216, 201, 4, 0.95);
  color: #6F6805;
  font-size: 14px;
  letter-spacing: 1.1px;
  visibility: hidden;
  opacity: 0.75;
  }

.project5:hover .imgDescription5 {
  visibility: visible;
  opacity: 1;
  }

.project6 {
  position: relative; 
   }

.imgDescription6 { 
  position: absolute;
  top:987px;
  left:615px;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 81px;
  padding-right: 81px;
  text-align: center;
  font-family: Montserrat;
  font-style: lighter;
  background-color: rgba(216, 201, 4, 0.95);
  color: #6F6805;
  font-size: 14px;
  letter-spacing: 1.1px;
  visibility: hidden;
  opacity: 0.75;
  }

.project6:hover .imgDescription6 {
  visibility: visible;
  opacity: 1;
  }

.imgDescription4:hover {
  color:#231F20;
}

