/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav{float:right;
    color:#4A4A4A;
    padding-top: 20px;
    padding-left: 1060px;
    position:fixed;
}

div {margin:1px solid transparent;
     padding-left: 270px;
     padding-right: 250px;
  }

.link1 {padding-right: 10px;}
.link2 {padding-left: 10px;}

a{
  font-size: 10px;
  font-family: Montserrat;
  font-style: lighter;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration:none;
  color:#B1FEED;
}

img {width: 40%;
  float:left;  padding-top: 50px;
  padding-right: 10px;
  position:relative;
  ;
}

body{
	border:solid 1px #1C1B1B;
	border-top:0px;	
	border-bottom:0px;
  background-color:#4A4A4A;
}

#projectphotos{padding-left: 80px;
    padding-top:40px;
    padding-bottom:100px;
    position:absolute;
    }

#description{background-color:#D8C904;
  padding-left: 80px;
    padding-top:100px;
    padding-bottom:80px;
    padding-right: 120px;
    }

h3 {font-family: Helvetica;
font-size: 20px;
font-style: bold;
color: #6F6805;
line-height: 34px;
padding-left: 50px;
padding-right: 50px;
text-transform: uppercase;
}


h1 {
  font-family: Acumin Pro;
  font-size: 220px;
  font-style: bold;
  float:left;
  color:#5A595B;
  opacity:0.2;
  font-kerning:-15px;
  width:130px;
  height:50px;
  padding-left:150px;
  position:fixed;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;}

h2 {font-family: Acumin Pro;
  font-size: 220px;
  font-style: bold;
  float:right;
  color:#5A595B;
  opacity:0.2;
  width:130px;
  height:50px;
  padding-right:2100px;
  position:fixed;
  -moz-transform: rotate(270deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%;}

p{font-family: Helvetica;
font-size: 12px;
font-style: light;
color: #6F6805;
line-height: 18px;
padding-left: 50px;
padding-right: 50px;

}

a:hover {
  color:#3EA991;
}





