/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav{float:right;
    color:#B1FEED;
    padding-top: 20px;
    padding-left: 1090px;
    position:fixed;
}

div {
     padding-left: 100px;
     padding-right: 100px;
  }

.link1 {padding-right: 10px;}
.link2 {padding-left: 10px;}
a:hover {
  color:#D8C904;
}


.contact {font-size: 10px;
  font-family: Montserrat;
  font-style: lighter;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 10px;
padding-right: 10px;
color}

a{
  font-size: 10px;
  font-family: Montserrat;
  font-style: lighter;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #B1FEED;
}

img {width: 30%;
  float:left; 
  padding-right: 25px;
  padding-left: 95px;
  padding-top: 140px;

}

body{
	border:solid 1px #1C1B1B;
	border-top:0px;	
	border-bottom:0px;
  background-color:#4A4A4A;
  padding-bottom: 100px;
}

#profilephoto{
    padding-left: 10px;
    padding-top:10px;
    padding-bottom:100px;

    }

#description{background-color:#D8C904;
  border: 1px solid transparent;
  padding-left: 400px;
    padding-top:50px;
    padding-bottom:50px;
 
    
    }

#contact{
  padding-left: 83px;
    padding-top:47px;
    padding-bottom:100px;
    }

.contact {color:#D8C904;
  padding-left: 50px;
    }
.contact:hover {color:#E3DCD1;}

h3 {font-family: Acumin Pro;
font-size: 20px;
font-style: regular;
font-weight: bold;
color: #393839;
line-height: 43px;
padding-left: 80px;
}


h1 {
  font-family: Acumin Pro;
  font-size: 220px;
  font-style: regular;
  font-weight:bold;
  float:left;
  color:#5A595B;
  opacity:0.2;
  font-kerning:-15px;
  width:130px;
  height:50px;
  padding-left:150px;
  position:fixed;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;}

h2 {font-family: Acumin Pro;
  font-size: 220px;
  font-style: regular;
  font-weight:bold;
  float:right;
  color:#5A595B;
  opacity:0.2;
  width:130px;
  height:50px;
  padding-right:2100px;
  position:fixed;
  -moz-transform: rotate(270deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%;
top:-178px;}

p{font-family: Acumin Pro;
font-size: 12px;
color: #393839;
font-weight:lighter;
line-height: 19px;
padding-left: 80px;
padding-right: 185px;
padding-top: 10px;
padding-bottom: 10px;
}

ul {
width: 300px;
margin-left: auto;
margin-right: auto; 
}

li {
display: inline;
list-style: none;
float: left;
height: 30px;
}





