h1 {padding-top:80px;
	padding-right:0px
	padding-bottom:0px;
	padding-left:100px;
	color:#eaeaea;
	font-family:Quatro Slab;
	font-weight:regular;
	font-size:36px;
	line-height:42px;
    }
body {
	background-color:#1A2325;
	border:solid 2px #f8695a;
	border-left:0;
	border-right:0;
	border-bottom:0;
	margin-width:1260px;
	margin-height:2934px;
     }
p {padding-top:0px;
	padding-right:0px
	padding-bottom:0px;
	padding-left:100px;
 	color:white; 
 	font-family:LFT Etica; 
 	font-weight:regular; 
 	font-size: 16px;
 	color: #abadad;
 	line-height:54px;
    }
a {padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
	font-family:LFT Etica;
	font-style:regular;
	font-size:16px; 
	color:#01bfc1;
	line-height:34px;
	text-decoration:none;
	}
h4 {padding-top:0px;
	padding-right:0px
	padding-bottom:0px;
	padding-left:100px;
	color:#555a5b;
	font-family:LFT Etica;
	font-style:semibold;
	font-size:16px;
    }

.logo {padding-top:0px;
	padding-right:300px
	padding-bottom:50px;
	padding-left:300px}

.product{
    border: 10px solid white;
    background-color:#ffffff;
}
 button {background-color:#01BFC1;	
 	border:none;
 	padding-bottom:18px;
 	padding-top:18px;
 	padding-right:20px;
 	padding-left:20px;
 	font-family:LFT Etica;
 	font-style:SemiBold;
 	font-size:14px;
 	line-height:12px;
 	color:#ffffff;
 	border-width:24px
    }
 h2 {padding-top:0px;
	padding-right:0px
	padding-bottom:0px;
	padding-left:100px;
	color:white;
	font-family:Quatro Slab;
	font-size:14px;
    }

#section1{width:1170px;
    float:left;
    padding-left:200px;
    padding-right:100px;
}

.article1{border:solid 1px #31393b;
	border-right: none;
	border-left:none;
	border-top: none;
	padding-bottom:200px;
	padding-top:200px;
}
.article2{border:solid 1px #31393b;
	border-right: none;
	border-left:none;
	border-top: none;
	padding-bottom:200px;
	padding-top:200px;
}
.article3{border:solid 1px #31393b;
	border-right: none;
	border-left:none;
	border-bottom: none;
	padding-bottom:200px;
	padding-top:200px;
}
.line-separator{width:870px;
    height:0.08px; 
    padding-left:200px; 
    padding-right:-100px;
    border-bottom:1px dotted #31393b;
}
