h1 {padding-top:80px;
	padding-right:100px
	padding-bottom:0px;
	padding-left:100px;
	color:#eaeaea;
	font-family:Quatro Slab;
	font-weight:regular;
	font-size:36px;
	line-height:42px;
    }
body {background-color:#1A2325;
	border:solid 2px #f8695a;
	border-left:0;
	border-right:0;
	border-bottom:0
     }
p {padding-top:0px;
	padding-right:100px
	padding-bottom:0px;
	padding-left:0px;
 	color:white; 
 	font-family:LFT Etica; 
 	font-style:regular; 
 	font-size: 16px;
 	color: #abadad;
 	line-height:24px
    }
a {padding-top:0px;
	padding-right:300px
	padding-bottom:5px;
	padding-left:0px;
	font-family:LFT Etica;
	font-style:16px; 
	color:#01bfc1;
	line-height:24px;
	text-decoration:none
	}
h4 {padding-top:0px;
	padding-right:300px
	padding-bottom:0px;
	padding-left:100px;
	color:#555a5b;
	font-family:LFT Etica;
	font-style:semibold;
	font-size:16px;
	text-transform: u
    }
.product1{padding-top:100px;
	padding-right:100px;
	padding-bottom:0px;
	padding-left:200px;
    float:right 
    }
 .product2{padding-top:0px;
	padding-right:100px;
	padding-bottom:200px;
	padding-left:200px;
    float:right;
    }
 .product3{padding-top:100px;
	padding-right:100px;
	padding-bottom:200px;
	padding-left:200px;
    float:right 
    }
 .logo {padding-top:0px;
	padding-right:300px
	padding-bottom:50px;
	padding-left:100px}
 button {background-color:01BFC1;	
 	border:none;
 	padding-bottom:12px;
 	padding-top:12px;
 	padding-right:20px;
 	padding-left:20px;
 	font-family:14px;
 	font-size:14px;
 	line-height:12px;
 	color:#ffffff;
 	border-width:24px
    }
 h2 {padding-top:5px;
	padding-right:200px
	padding-bottom:50px;
	padding-left:0px;
	color:white;
	font-family:Quatro Slab;
	font-size:24px
    }
div {padding-top:0px;
	padding-right:200px
	padding-bottom:0px;
	padding-left:100px}
	}
article #container #wrapper{
	margin:50px 15px 50px 15px;
	padding: 200px 200px 200px 200px;
    }
.primero{border-width:thin;
	border-style:solid;
	border-color:#31393b;
	border-top:none;
	border-left:none;
	border-right:none;
	padding-bottom:400px;
	padding-top:20px
    }
.segundo{border-width:thin;
	padding-bottom:400px;
	padding-top:300px
    }
.tercero{border-width:thin;
	border-style:solid;
	border-right:none;
	border-left:none;
	border-bottom:none;
	border-padding:300px;
	border-color:#31393b;
	padding-bottom:300px;
	padding-top:600px
    }